.App {
  text-align: center;
  background-color: #698D91;
}

.eachPanel {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin: 5px;
}

.fullUserInfo {
  text-align: justify;
  background-color: #9FC8CB;
}

.pictures {
  text-align: center;
}

.group1 {
  margin-left: 4%;
}

.headers1 {
  text-align: center;
}
